APP_NAME="Stake Farm"
APP_ENV=production
APP_KEY=base64:Nrl1KpRUQ1yzWGcLM/moG2OgA3gl5kMjrNb4OH67bE0=
APP_DEBUG=true
APP_URL=stakefarms.online

DEBUGBAR_ENABLED=false

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST="server273.web-hosting.com"
DB_PORT=3306
DB_DATABASE=stakturp_sfl
DB_USERNAME=stakturp_sfl
DB_PASSWORD=$favor2022_com

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST="server273.web-hosting.com"
MAIL_PORT=465
MAIL_USERNAME="en@stakefarms.online"
MAIL_PASSWORD=$favor2022_com
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="en@stakefarms.online"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
